APP_PORT=8000

POSTGRES_HOST=POSTGRES_HOST
POSTGRES_PORT=POSTGRES_PORT
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=TICKET-RESERVATION

REDIS_ADDR=localhost:6379

HOLD_TTL_SECONDS=120